<div class="main">
    <div class="container">
  <div class="centered back"></div>
  <div class="centered face"></div>

  <div class="centered headphones">
    <div class="centered band"></div>
    <div class="earmuff"></div>
    <div class="earmuff"></div>
  </div>

  <div class="centered music">
    <div class="group1">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="group2">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
</div>

<div class="video ">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Raj-AuQgCTg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
</div>